<a href="https://colab.research.google.com/github/arun9718/Data-Science---Learning/blob/Day1/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basics of Python**

In [ ]:
##How to print the keywords in python
import keyword
print(keyword.kwlist," ",end="")

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# **Slicing**

In [ ]:
sen = 'Pepcoding'

In [ ]:
print(sen)

Pepcoding

In [ ]:
sen[:4] #from start to 4 (exclusive)

'Pepc'

In [ ]:
sen[-1::]#default skip is 1 so only the last the last and start index are not reversing

'g'

In [ ]:
sen[2:4:-1] #Mathematically not possible as start -> end but skip is -1 hence null output

''

In [ ]:
sen[-1::-1]#reverse the string

'gnidocpeP'

In [ ]:
for ch in sen:
  print(ch,end="")

Pepcoding

In [ ]:
#word search in sen
if "coding" in sen :
  print("Hello Coders")

Hello Coders

In [ ]:
sen.upper()

'PEPCODING'

In [ ]:
sen.lower()

'pepcoding'

In [ ]:
for i in range(5):
  print(i*i," ",end="")

0  1  4  9  16

In [ ]:
#break | continue 
for i in range(5):
  if i==2:
    continue
  print(str(i),"Hello Duniya")
  if i==3:
    break

0 Hello Duniya
1 Hello Duniya
3 Hello Duniya

# **Datatypes**
  * List ---- []  

    * List can be heterogenous
    * List can be mutable
    * List can be scriptable(indexable)
    * Ordered (acc. to the input)

  * Tuple ---- ()

    * Tuple can be heterogenous
    * Tuple is immutable
    * Tuple is scriptable(indexable)
    * Ordered(acc. to the input)

  * Dictionary
  * Set  ----- {}
      * Set can be heterogenous
      * Set are unscriptable - Set are not ordered hencee not indexable
      * Not ordered but can be ordered from python 2.7 
      * No repetitions allowed
      * We cannot mutate a particular element in a set but we can add and remove elements in a set

In [ ]:
lst= [1,2,3]

In [ ]:
print(lst)

[1, 2, 3, '8']

In [ ]:
print(type(lst))

<class 'list'>

In [ ]:
lst.append("8")

In [ ]:
lst[-1]

'8'

In [ ]:
lst[1:3]

[2, 3]

In [ ]:
lst.insert(1,"ML")

In [ ]:
lst

[1, 'Me', 3]

In [ ]:
lst.remove('ML')

In [ ]:
lst

[1, 'Me', 3, '8']

In [ ]:
print(lst.pop())

8

In [ ]:
for i in lst:
  print(i," ")

1
Me
3

In [ ]:
tup=(1,2,3,"hello")

In [ ]:
print(type(tup))

<class 'tuple'>

In [ ]:
tup=(1) ## excpecting ype type but output int

In [ ]:
print(type(tup))

<class 'int'>

In [ ]:
#How to make a single size tuple
t=(1,)
print(type(t))

<class 'tuple'>

In [ ]:
t.append(4) #immutable

AttributeError: ignored

In [ ]:
tup=(3,4,5,6)
tup[2:4]

(5, 6)

In [ ]:
st= {"Apple","Mango","Pineapple"}
st[0]

TypeError: ignored

In [ ]:
for i in range(3):
  st.add(i)

In [ ]:
st

{0, 1, 2, 'Apple', 'Mango', 'Pineapple'}

In [ ]:
for i in st:
  print(i)

1
0
Pineapple
Apple

In [ ]:
st.pop() # can pop any element not sure which as set is not ordered (Doubt :- figured out Set is poping in FIFO technique)

'Mango'

In [ ]:
st.clear()

In [ ]:
st

set()

In [1]:
del st # deletes the existence goes same for other three datatypes

NameError: ignored

In [3]:
dict2={
    'A' :1,
    'C':'asd',
    'B':3
}
print(dict2)

{'A': 1, 'C': 'asd', 'B': 3}

In [6]:
for i in dict2.keys():
  print(i)
  print(dict2[i])

A
1
C
asd
B
3

In [7]:
dict3={}
for i in range(1,6):
  dict3[i]=i*i

print(dict3)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [8]:
sum_of_keys=0
sum_of_values=0

for i,j in dict3.items():
  sum_of_keys+=i
  sum_of_values+=j
print(sum_of_keys)
print(sum_of_values)

15
55

In [10]:
print({x : x*x for x in range(1,6)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [11]:
sum(dict3.values())

55

# **EXCEPTION HANDLING IN PYTHON**

In [12]:
try:
  a=10
  b=6
  div=a/0
except:
  print("Divide zero")
else:
  print("With try")
finally:
  print("Always there")

Divide zero
Always there